<!-- 引入布局文件 -->
<%-layout('layout')%>

<div id="content">
    <div class="panel">
        <div class="header header_topic">
            <span class="topic_full_title"><%=topic.title%></span>
            <div class="changes">
                <span>作者：<%=topic.username%></span>
                <span>发布日期：<%=topic.timeStr%></span>
            </div>
        </div>
        <div class="inner topic">
            <div class="topic_content">
                <!-- 使用markdown中的md方法，过滤markdown格式 -->
                <%-md.render(topic.content)%>
            </div>
        </div>
    </div>

    <!-- 评论部分 -->
    <div class="panel">
        <div class="header">
            <span><%=count%>个回复</span>
        </div>
        <div class="inner">
            <!-- 评论列表表示，采用模板方法partial -->
            <%-partial('reply/list',{collection:replys,as:'reply'})%>  <!--创建一个reply文件夹，创建模板文件list.html专门表示评论列表-->
        </div>
    </div>

    
    <!-- 用户发表评论区域 -->
    <div class="panel">
        <div class="header">
            <span>添加回复</span>
        </div>
        <div class="inner reply">
            <form action="/reply/reply" method="post" id="reply_form">
                <!-- 隐藏的input用于通知后台，评论是针对的是哪个话题发表的 -->
                <input type="hidden" name="topicId" value="<%=topic.id%>">
                <div class="markdown_editor in_editor">
                    <div class="markdown_in_editor">
                        <textarea name="t_content" id="" cols="30" rows="10" class="editor"></textarea>
                        <div class="editor_buttons">
                            <input type="submit" class="span-primary submit_btn" value="回复">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    
</div>

<!-- 引入编辑器插件文件 -->
<link rel="stylesheet" type="text/css" href="/public/webuploader/webuploader.css">
<link rel="stylesheet" type="text/css" href="/public/editor/editor.css">
<script type="text/javascript" src="/public/markdownit.js"></script>
<script type="text/javascript" src="/public/webuploader/webuploader.withoutimage.js"></script>
<script type="text/javascript" src="/public/editor/editor.js"></script>
<script type="text/javascript" src="/public/editor/ext.js"></script>

<!-- 引用插件后，初始化编辑器 -->
<script type="text/javascript">
    $(function(){
        var editor = new Editor();
        editor.render($('.editor')[0]);
    })
</script>




