<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cnode</title>
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/jquery.atwho.css">
    <script type="text/javascript" src="/public/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="/public/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <!-- 显示头部 -->
    <div class="navbar"><%-partial('navbar')%></div>

    <!-- 显示主要内容 -->
    <div id="main"><%-body%></div>

</body>
</html>

